*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: "CeraPro", sans-serif

button,
a
    cursor: pointer

.default-link
    color: $base-primary
    text-decoration-line: underline
